/* Formatting containerRecipeLinks to force divRecipeLinks to adapt to device width */
.containerRecipeLinks {
    display: flex;
    flex-wrap: wrap;
}

/* Formatting divRecipeLinks */
.divRecipeLinks {
    flex-grow: 1;
    flex-basis: 200;
} 